{% extends 'base.html' %}

{% block title %} | Search {% endblock %}
{% block content %}
	<div class="container">
		<h1> Search Result for ... </h1>
		<div class="container">
			{% if listings %}
				<div class="row">
					{% for listing in listings %}
						<div class="col-12 col-md-6 col-lg-4" style="margin-top: 1em;">
							<div class="card">
								<img class="card-img-top" src="{{ listing.main_image.url }}" alt="" style="width: 100%;height: 10em;"/>
								<div class="card-body">
									<div class="text-truncate" style="height: 10em;">
										<span>{{ listing.address }}</span>
										<h4><b>{{ listing.title }}</b></h4>
										<h5>Bike:<b class="text-danger"> Rs300/hr</b></h5>
										<h5>Car:<b class="text-danger"> Rs700/hr</b></h5>
										<h5>Scooter:<b class="text-muted"> Not Available</b></h5>
									</div>
									<hr/>
									<a href="{% url 'listing' listing.id %}" class="btn btn-sm btn-outline-info">More Info</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>No listings available</p>
			{% endif %}

		</div>
	</div>
{% endblock %}
